:root {
  --bg-main: rgb(0, 0, 0);
  --text-main: rgb(236, 236, 236);
  --text-muted: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  background-color: var(--bg-main);
  background-image: 
    linear-gradient(rgba(123, 97, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(123, 97, 255, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
  color: var(--text-main);
  font-family: var(--font-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Base scrollbar styling for Lenis */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
